html
    head
        title Symptom Checker 💊
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
    body
        form(action="/setGroupSingle",method="GET")
            input(type="hidden", name="userid", value= userid)
            each obj in options
                input(type="radio", name="single", value= obj.id)
                span= obj.name
                br
            br
            input(type="submit")